
form{

    height: 2010px;
    width: 850px;
    border: 1px solid black;
   
    border-radius: 0.5%;
}

#imagen-principal{

    height: 270px;
    width: 270px;
    margin-top: -50px;
    margin-left: -30px;
}

#fecha{
    margin-left: 570px;
    margin-top: -190px;
}

.cuadrante{
    height: 25px;
    width: 60px;
    background-color: #ffffff;
    border: 2px solid black;
    display: inline-block;
    margin: -3px;
    margin-top: -100px;

}

.condiciones{
    margin-left: 95px;
    font-size: 18px;
}



