:root{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 20px;
 
}

form{
    max-width: 850px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    margin: auto 0;
 
}

.cabeza{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

.image{
    max-width: 200px;
}

.image img{
    width: 100%;
   
}

.titulos{
    background-color: lightgreen;
    font-size: 1.6rem;
    padding: 5px 12px;
}



.preguntas{
    padding: 5px 32px;
    margin: 10px 0;
}

.preguntas ol{
    font-size: 1.8rem;
}

.preguntas ul{
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    list-style: numeric;
    
}

.preguntas li{
    margin-bottom: 15px;
}

label{
    font-size: 1.8rem;
    font-weight: 500;
}

input{
    max-width: 200px;
    height: 22px;
    border-radius: 2px;
}



.condiciones{
    margin-left: 95px;
    font-size: 18px;
}




